*{
	margin: 0px;
	/*background-color:ivory;*/
	padding: 0px;
}
.div1{
	height: 130px;
	width: 1200px;
	margin: auto;
}
.div2{
	text-align: center;
	height: 650px;
	/*background-color: rosybrown;*/
	width: 800px;
	margin: auto;
}
body{
	background-color:#FCFCFC;
}
.div3{
	height: 130px;
	/*background-color: azure;*/
	width: 800px;
	margin: auto;
}
.div4{
	height: 40px;
}
.div6{
	margin-top: 40px;
}
.input1{
	font-size: 16px;
	font-family: 楷体;
    position: relative;
    border: solid 1px #ddd;
    width: 398px;
    height: 52px;
    z-index: 0;
}
.input2{
	width: 16px;
	font-size: 14px;
    height: 16px;
    border: solid 1px #cfd1d3;
    vertical-align: text-top;
    padding: 0;
    margin-top: 4px;
    margin-right: 8px;
}
.submit{
    width: 398px;
    height: 54px;
    color: black;
    background-color: darkgray;
    border: 0;
    font-size: 18px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.img1{
	margin-left: 20px;
	float: left;
}
.span1{
    float: left;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    font-size: 28px;
    color: #333;
    padding-left: 30px;
    margin-top: 47px;
}
.span2{
	font-weight: bold;
	font-size: 14px;
	/*padding-right: 20px;*/
    float: right;
    margin-top: 100px;
    color: #999;
}
a:link,a:visited{
	text-decoration: none;
	color: royalblue;
}
a:hover{
	color: royalblue;
	text-decoration: underline;
}
.links{
	font-size: 14px;
	padding-top: 30px;
	text-align: center;
    padding-bottom: 15px;
    
}
.links a{
	color: #999999;
}
label{
	/*font-family: "楷体";*/
	font-size: 16px;
	font-weight: 300;
}
input{
	padding-left:10px ;
}
